*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container{
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
h2{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: orange;
}
span.quote{
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    display: block;
    margin-bottom: 20px;
}
.person{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}   
button{
    background: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}